/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorRed: red;
  --fontSize-sm: px;
  --fontFamily: "Arial, Helvetica, sans-serif";
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
  /* CSS HEX */
  --flickr-pink: #f72585ff;
  --purple: #7209b7ff;
  --trypan-blue: #3a0ca3ff;
  --ultramarine-blue: #4361eeff;
  --vivid-sky-blue: #4cc9f0ff;
}

/************************* responsive para smartphone ******************/
/* 
@media (min-width: 425px) {
    body {
        background-color: blue
    }
} */

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/****/
/* .cuadrado {
  background-color: red;
  width: 100px;
  height: 100px;
} */

/****/

/* SignIn Component */

/* SignUp Component */
/* 
.alert-danger {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.alert-danger {
  font-size: 20px;
  text-align: center;
  animation: fadeOut 18s;
  width: 100%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.avatar-image {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(11, 11, 11);
}

.welcome {
  padding: 1rem 0;
}

.container {
  /* background-image: url("https://img.freepik.com/premium-vector/abstract-white-grey-background_528453-7.jpg?w=2000");
  background-repeat: none;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 0 15px rgb(18, 18, 18); */
}

.header {
  text-align: center;
  background-color: var(----trypan-blue);
}

.header-description {
  display: flex;
  flex-direction: column;
  /* background-color: #0c0b0c; */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: rgb(245, 242, 242);
  line-height: 1rem;
  padding: 0;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12); */
}

.header-title {
  font-family: Roboto Mono;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 0;
  margin: 5rem 0;
}

.header-title2 {
  font-family: Roboto Mono;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 0;
  margin: 2rem 0;
}

.header-subtitle {
  font-family: Roboto Mono;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0rem;
}

.header-subtitle2 {
  font-family: Roboto Mono;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0rem;
}

.form-input-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form {
  font-family: Roboto Mono;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 17px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single {
  width: 130px;
  margin: 0;
}

.email-input {
  padding: 0.6rem 4rem;
}

.stripe-button {
  margin: 2rem;
  font-family: Roboto Mono;
  border: 0;
  outline: 0;
  background: #0a2540;
  border-radius: 50px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 12px 25px;
  transition-property: background-color, opacity;
}

.stripe-button2 {
  margin: 0.5rem;
  font-family: Roboto Mono;
  border: 0;
  outline: 0;
  background: #0a2540;
  border-radius: 50px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 12px 25px;
  transition-property: background-color, opacity;
}

button svg {
  margin-left: 8px;
  vertical-align: auto;
}

button:hover .HoverArrow__linePath {
  opacity: 1;
}

button:hover .HoverArrow__tipPath {
  transform: translateX(4px);
}

.HoverArrow {
  --arrowSpacing: 5px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(4px);
  --arrowTipTransform: none;
  --arrowLineOpacity: 0;
  position: relative;
  top: 1px;
  margin-left: var(--arrowSpacing);
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}

.HoverArrow__linePath {
  --arrowSpacing: 5px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(4px);
  --arrowTipTransform: none;
  --arrowLineOpacity: 0;
  opacity: var(--arrowLineOpacity);
  transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}

.HoverArrow__tipPath {
  transform: none;
  transition: transform
    var(--hoverTransition, 250ms cubic-bezier(0.215, 0.61, 0.355, 1));
}

button:hover .HoverArrow__linePath {
  opacity: 1;
}
/* 
.form button {
  cursor: pointer;
  margin: 2rem 0;
  border: 0;
  background-color: #f72585;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
} */

/* form button css */

/* fin form button css */

.sign-up-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.input-field,
.email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12); */
}

.input-field-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: black 1rem;
  padding: 1rem 1rem;
}

.input-field input {
  text-align: center;
  padding: 1rem 7rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
  width: 90%;
}

.haveAccount {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  /* background-color: white; */
  padding: 1rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12); */
  margin-bottom: 1rem 0;
}

.haveAccount2 {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  /* background-color: white; */
  padding: 1rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12); */
  margin-bottom: 1rem 0;
}

/* Home view */
body {
  font-family: "Roboto", sans-serif;
}

/* NAV BAR */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  line-height: 1.8rem;
  padding: 0 2rem;
  margin: 0;
}

.barra-nav-izq {
  list-style: none;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/* MENU HAMBUGUESA */

.slide li {
  list-style: none;
}

.nav-izquierdo-movil {
  width: 50%;
}

.nav-izquierdo-movil li a {
  text-decoration: none;
  color: white;
}

.nav-izquierdo-movil nav {
  display: flex;
  flex-direction: column;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.nav-izquierdo-movil span {
  margin: 0;
  padding: 0rem;
  color: #f4f1f2;
  font-size: 2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

.nav-izquierdo-movil span::after {
  float: right;
  right: 10%;
}

.slide {
  clear: both;
  width: 80%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.7s ease-in-out;
  margin: 0;
  padding: 0;
}

.slide a {
  font-size: 1rem;
}

.slide li {
  padding: 1.5rem 1rem;
  text-align: center;
}

#touch {
  position: absolute;
  opacity: 2;
  height: 0px;
}

#touch:checked + .slide {
  width: 20rem;
  height: 15rem;
}
/* FIN MENU HAMBURGUESA */

input:checked ~ ul {
  display: block;
}

.barra-nav-izq li {
  padding: 0 1rem;
}

.barra-nav-der {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 1rem 0;
  padding: 1rem 0;
}

.barra-nav-der p {
  text-align: right;
  font-size: 0.5rem;
  font-weight: 300;
}

nav {
  padding: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
}

nav p {
  color: white;
  font-weight: bold;
  margin: 0.2rem;
}

.log-out-welcome {
  text-align: center;
  font-size: 19px;
  padding: 0;
}
/* 
nav button {
  border: 0;
  background-color: var(--colorRed);
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
} */

.router-link-active {
  padding: 0;
}

/* ACCOUNT */

/* ADD NEW TASK */

.nueva-task {
  font-display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40%;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1rem;
}

input {
  border: 0;
  background-color: rgb(236, 234, 234);
  margin: 0.2rem;
  width: 30%;
}
/* 
.wrapper button {
  margin: 1rem 0;
  border: 0;
  background-color: #f72585;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
} */

.barra-nav-der button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1rem 0;
  border: 0;
  background-color: #f72585;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.barra-nav-der p {
  font-size: 1rem;
}

.edit-icon {
  width: 46px;
}
.ok-icon {
  width: 50px;
  padding-top: 5px;
}

.delete-icon {
  width: 50px;
}
.user-bold {
  font-weight: bold;
}

.titulo-nueva-task {
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  padding: 1rem;
  margin: 0.5rem 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.content h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: white;
}

.content a {
  color: white;
  text-decoration: none;
}

.container-title-description h3 {
  color: black;
  font-size: 30px;
  padding: 0.5rem;
  margin: 0;
  text-transform: capitalize;
}

.container-title-description h4 {
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
}

.texto-completo-incompleto {
  font-family: Roboto Mono;
}
/* ESTILOS DEL INTERRUPTOR COMPLETADO-NOCOMPLETADO */

.botoncito {
  position: relative;

  display: inline-block;

  width: 2.5rem;
}

.botoncito input {
  opacity: 0;

  width: 0;

  height: 0;
}
.deslizadora {
  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: rgb(238, 88, 88);

  transition: 0.4s;
  border-radius: 20px;
}

.deslizadora:before {
  position: absolute;

  content: "";

  height: 0.8rem;

  width: 1rem;

  left: 0.2rem;

  bottom: 0.2rem;

  background-color: white;

  transition: 0.4s;

  border-radius: 10px;
}

input:checked + .deslizadora {
  background-color: #34a853;
}

input:checked + .deslizadora:before {
  transform: translateX(1.6rem);
}

/* FIN DEL ESTILO DEL INTERRUPTOR */

/* transition tasks */

.slide-fade-enter-active {
  transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* fin transition tasks */

.status-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.status-task p {
  text-align: center;
  padding: 1rem;
}

.titulo-tasks-contenedor {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.container-tasks {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-family: Freehand;
  padding: 2rem 3rem;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  margin: 2rem 1rem;
  background-image: url("../images/notes.jpg");
  background-size: 80rem;
  background-position: center;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.container-tasks p {
  margin: 0;
}

.icons-task {
  width: 20px;
}

buttonDelete {
  position: absolute;
  left: 150px;
  top: 250px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 0;
  background-color: #d8087b;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 100px;
  margin: 1rem 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.buttonEdit {
  position: absolute;
  left: 10px;
  top: 250px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 0;
  background-color: #2595f7;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 100px;
  margin: 1rem 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 5px rgb(18, 18, 18);
}

.container-title-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inputs-edits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-title {
  border: solid rgb(41, 41, 42) 1px;
  font-size: 18px;
  width: 20vw;
  margin: 1rem;
}

.edit-description {
  width: 20vw;
  border: solid rgb(41, 41, 42) 1px;
  font-size: 18px;
}

.container-delete-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 1rem rem;
}

.buttonDelete {
  position: absolute;
  left: 280px;
  top: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 0;
  background-color: #d8087b;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 100px;
  margin: 1rem 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.buttonEdit {
  position: absolute;
  left: -5px;
  top: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 0;
  background-color: #2595f7;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 100px;
  margin: 1rem 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.saveButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 0;
  background-color: #0693f1;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50px;
  margin: 2rem 5rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
  transition: 0.5s;

  .saveButton:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
  }
}

.caja-add-button {
  margin: 2rem;
  cursor: pointer;
}

.buttonAddTask {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  cursor: pointer;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.buttonAddTask:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.footer p {
  padding: 1rem;
}

.min-height {
  min-height: 75vh;
}
/* Account View */
.top-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  text-align: center;
  margin: 3rem;
}

.top-form h2 {
  font-size: 1rem;
  text-align: center;
}

.form-widget {
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

.transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}

.usernameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
/* Style buttons */
.buttonload {
  font-family: Roboto Mono;
  background-color: #100f10; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 30px; /* Some padding */
  font-size: 16px; /* Set a font size */
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(11, 11, 11);
  cursor: pointer;
}

.email-input {
  margin: 1rem 0;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0 0 50px rgb(11, 11, 11);
}

.email-editar {
  padding: 1rem 4rem;
  margin: 1rem 0;

  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: solid rgb(194, 120, 157) 3px;
}

.boton-actualizar-datos {
  margin: 1rem 0;
  border: 0;
  background-color: #f72585;
  color: white;
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.formEditData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgb(18, 18, 18);
}

/************************************ A PARTIR DE AQUÍ TABLET ***********/

@media (min-width: 768px) {
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .container {
    /* background-image: url("https://img.freepik.com/premium-vector/abstract-white-grey-background_528453-7.jpg?w=2000");
  background-repeat: none;
  background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgb(18, 18, 18); */
  }

  .header {
    text-align: center;
    background-color: var(----trypan-blue);
  }

  .header-description {
    display: flex;
    flex-direction: column;
    /* background-color: #0c0b0c; */
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: rgb(245, 242, 242);
    line-height: 1rem;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12); */
  }

  .header-title {
    font-family: Roboto Mono;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
  }

  .header-subtitle {
    font-family: Roboto Mono;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0rem;
  }

  nav {
    padding: 0 5rem;
  }
  .barra-nav-der {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .barra-nav-der p {
    padding: 0 1rem;
  }
  .contenedor-todo {
    margin: 10rem 5rem;
  }
  .input-field input {
    text-align: center;
    padding: 1rem 7rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
    width: 70%;
  }
  .container-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 3rem 2rem;
    background-image: url("../images/notes.jpg");
    background-size: 80rem;
    background-position: center;
    border-radius: 5%;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    filter: opacity(0.8);
    animation: float 6s ease-in-out infinite;
  }

  .container-tasks:hover {
    filter: opacity(1);
    transition: 0.8s;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  .buttonDelete {
    position: absolute;
    left: 115px;
    top: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0;
    background-color: #d8087b;
    color: white;
    width: 5rem;
    height: 1.5rem;
    border-radius: 100px;
    margin: 1rem 1rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }

  .buttonEdit {
    position: absolute;
    left: -5px;
    top: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0;
    background-color: #2595f7;
    color: white;
    width: 5rem;
    height: 1.5rem;
    border-radius: 100px;
    margin: 1rem 1rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }
  .contenedor-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 5rem 5rem;
  }

  .tareas-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-delete-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
  }

  .min-height-account-login {
    min-height: 15vh;
    padding: 0;
  }

  .min-height-account {
    min-height: 15vh;
  }

  .account-top {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .account-top h1 {
    color: white;
  }

  .formEditData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loading-gif {
    width: 200px;
    height: 200px;
  }

  .formEditData h3 {
    font-family: Roboto Mono;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  .form-widget {
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }
  .transparent {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .emailForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .caja-avatar {
    padding: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }
}
/* Sig
/* SignIn Component */

/* SignUp Component */

/* Home Component */

/************************************ A PARTIR DE AQUÍ DESKTOP ***********/

@media (min-width: 1024px) {
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;

    animation: gradient 15s ease infinite;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .header-title {
    font-family: Roboto Mono;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    padding: 5rem 0;
    margin: 3rem 0;
  }

  .header-title2 {
    font-family: Roboto Mono;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
    margin: 5rem 0;
  }

  .header-subtitle {
    font-family: Roboto Mono;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0rem;
  }

  .header-subtitle2 {
    font-family: Roboto Mono;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0rem;
  }

  .nav-izquierdo-movil {
    display: none;
  }

  .form-widget {
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 10rem;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  .barra-nav-izq {
    display: flex;
    padding: 0;
  }

  .barra-nav-der {
    padding: 0;
  }

  .barra-nav-der {
    padding: 0 1rem;
  }

  .efecto-hover:hover {
    text-decoration: none !important;
    padding: 10px 10px !important;
    margin: 0 7px;
    background-color: var(--ultramarine-blue) !important;
    border-radius: 30px !important;
  }
  /* SignIn Component */

  /* SignUp Component */
  .container-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 1rem 0.5rem;
    margin: 3rem 1rem;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 0 15px rgb(18, 18, 18);
    -webkit-mask-attachment: ;
  }

  .buttonDelete {
    position: absolute;
    left: 150px;
    top: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0;
    background-color: #d8087b;
    color: white;
    width: 5rem;
    height: 1.5rem;
    border-radius: 100px;
    margin: 1rem 1rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }

  .buttonEdit {
    position: absolute;
    left: 0px;
    top: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0;
    background-color: #2595f7;
    color: white;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0px;
    margin: 1rem 1rem;
    padding: 1.5rem 2rem;
    padding-right: 7rem;
    box-shadow: 0 0 5px rgb(18, 18, 18);
  }

  .contenedor-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 2rem 5rem;
  }

  .tareas-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container {
    width: 100%;
    background-size: contain;
    border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgb(18, 18, 18); */
    /* background-image: url("https://img.freepik.com/premium-vector/abstract-white-grey-background_528453-7.jpg?w=2000");
    background-repeat: none;
    background-size: cover; */
  }
  /*
  /* Home Component */

  .loading-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .email-input {
    padding: 1.5rem 8rem;
  }
  .top-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    text-align: center;
  }

  .avatar-image {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(11, 11, 11);
  }
  .form-widget {
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }
  .transparent {
    background: transparent;
    border: none;
    box-shadow: none;
  }
}

.footer {
  position: fixed;
  bottom: 0;
}

@media (min-width: 1440px) {
  .buttonDelete {
    position: absolute;
    left: 240px;
    top: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0;
    background-color: #d8087b;
    color: white;
    width: 5rem;
    height: 1.5rem;
    border-radius: 100px;
    margin: 1rem 1rem;
    padding: 1.5rem 3rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }

  .buttonEdit {
    position: absolute;
    left: 10px;
    top: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0;
    background-color: #2595f7;
    color: white;
    width: 5rem;
    height: 1.5rem;
    border-radius: 100px;
    margin: 1rem 1rem;
    padding: 1.5rem 3rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }

  .avatar-image {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(11, 11, 11);
  }
  .form-widget {
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 15px rgb(18, 18, 18);
  }
  .transparent {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}
